<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{{ asset('css/style.css') }}" >
<!------ Include the above in your HEAD tag ---------->

<!--

-->

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                {% block header %}
                {% endblock %}<br><br>
                <div class="profile-userpic">

                    <img src="{{ asset('images/homme.jpg') }}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{ app.user.getFirstname() }} {{ app.user.getLastname() }}
                    </div>
                    <div class="profile-usertitle-job">

                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                {#<div class="profile-userbuttons">#}
                    {#<button type="button" class="btn btn-success btn-sm">Follow</button>#}
                    {#<button type="button" class="btn btn-danger btn-sm">Message</button>#}
                {#</div>#}
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="{{ path('fos_user_profile_edit') }}">
                                <i class="glyphicon glyphicon-home"></i>
                                Modifer Mon Compte </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_change_password') }}">
                                <i class="glyphicon glyphicon-user"></i>
                                Modifier Mon mot de passe</a>
                        </li>
                        <li>
                            <a href="{{ path('calendar') }}" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i> Timesheet
                                </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="glyphicon glyphicon-flag"></i>
                                Déconnexion </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">

                {% block body %}
                 {{ render(controller('AppBundle:Default:cal')) }}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<br>
<br>
