{% extends 'base.html.twig' %}

{% block body %}
    <h1>Timesheets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timesheet in timesheets %}
            <tr>
                <td><a href="{{ path('timesheet_show', { 'id': timesheet.id }) }}">{{ timesheet.id }}</a></td>
                <td>{{ timesheet.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('timesheet_show', { 'id': timesheet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('timesheet_edit', { 'id': timesheet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('timesheet_new') }}">Create a new timesheet</a>
        </li>
    </ul>
{% endblock %}
